<div class="map-snackbar">
    <div class="map-col-20 left button-centered">
        <button clear medium (click)="onToggleDirection()">
            <img src="img/ic_swap_calls.png">
        </button>
    </div>
    <div class="map-col-60 left centered">
        <p class="firstline">{{ Coming }}</p>
        <hr>
        <p class="secondline">{{ Going }}</p>
    </div>
    <div class="map-col-20 right button-centered">
        <favorite-button [line]="line" size="large"></favorite-button>
    </div>
</div>