div.map-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

div#map_canvas.google-maps {
    width: 100%;
    display: flex;
    flex: 3;
}

map-snackbar {
    height: auto;
}