div.map-snackbar {
    background-color: #FFFFFF;
    width: 100%;
    min-height: 90px;
    padding: 5px;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16);
}

div.map-snackbar p.firstline, div.map-snackbar p.secondline {
    font-size: 16px;
    text-align: left;
    color: #868686;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}

div.map-snackbar hr {
    background-color: #b6b6b6;
    width: 100%;
}

div.map-snackbar .button-centered {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.map-snackbar .button-centered button img {
    height: 100%;
}

div.map-snackbar .centered {
    margin-top: 10px;
}

div.map-snackbar .map-col-20 {
    width: 19.99999%;
}

div.map-snackbar .map-col-60 {
    width: 59.99999%;
}

div.map-snackbar .map-col-80 {
    width: 79.99999%;
}

div.map-snackbar .map-col-80.centered {
    padding-left: 10px;
}

div.map-snackbar .left {
    float: left;
}

div.map-snackbar .right {
    float: right;
}