<div class="map-snackbar">
    <div class="map-col-20 left button-centered" *ngIf="swapable">
        <button ion-button clear medium (click)="onToggleDirection()">
            <img src="img/ic_swap_calls.png">
        </button>
    </div>
    <div class="left centered" [ngClass]="{ 'map-col-60': swapable, 'map-col-80': !swapable }">
        <p class="firstline">{{ coming || Text.COMPONENT_SNACKBAR_COMING }}</p>
        <hr>
        <p class="secondline">{{ going || Text.COMPONENT_SNACKBAR_GOING }}</p>
    </div>
    <div class="map-col-20 right button-centered">
        <favorite-button [line]="line" size="large"></favorite-button>
    </div>
</div>