// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import '../pages/map/core';
@import '../pages/search/core';
@import '../components/maps/core';
@import '../components/map-snackbar/core';
@import '../components/history-dropdown-list/core';

ion-navbar {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

ion-searchbar, ion-navbar {
  background-color: #4ea7f5 !important;
}

ion-menu div.menu-banner {
  width: 100%;
  height: 160px;
  background-image: url('../assets/img/banner.jpg');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-menu div.menu-banner div.user-title {
  width: 100%;
}

ion-menu div.menu-banner div.user-title img {
  width: 64px;
  height: 64px;
  display: block;
  margin: auto;
}

ion-menu div.menu-banner div.user-title h2 {
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

ion-menu ion-list {
  height: calc(100% - 180px);
  overflow-x: hidden;
  overflow-y: scroll;
}

ion-buttons button {
  background: none !important;
}

ion-buttons button ion-icon {
  color: #FFF !important;
}