<ion-navbar *navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="{{ showSearchBox? '':'hidden' }}">
        <ion-input
            id="searchbox"
            type="search"
            (input)="filter($event)"
            placeholder="Buscar...">
        </ion-input>
    </ion-title>
    <ion-title class="{{ showSearchBox? 'hidden':'' }}">Rio Bus</ion-title>
    
    <ion-buttons end (click)="showSearchBar()" class="{{ showSearchBox? 'hidden':'' }}">
        <button>
            <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
    
    <ion-buttons end (click)="hideSearchBar()" class="{{ showSearchBox? '':'hidden' }}">
        <button>
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>

<ion-content class="search" id="search-view">
    <ion-list>
        
        <ion-item-group *ngIf="Histories.length>0 && !showSearchBox">
            <ion-item-divider light>Pesquisas recentes</ion-item-divider>
            <button ion-item *ngFor="#history of Histories" (click)="find(history.Line)">
                <h2>{{ history.Line.Line }}</h2>
                <p>{{ history.Line.Description }}</p>
                <ion-icon clear item-right name="time"></ion-icon>
            </button>
        </ion-item-group>
        
        <ion-item-group *ngIf="!(Items.length===0 && searchbox && searchbox.value.length>0)">
            <ion-item-divider light>Linhas disponíveis</ion-item-divider>
            <button ion-item *ngFor="#item of Items">
                <div (click)="find(item)">
                    <h2>{{ item.Line }}</h2>
                    <p>{{ item.Description }}</p>
                </div>
                <button clear item-right (click)="onClickOnStar(item)">
                    <ion-icon golden name="{{ isFavorite(item) ? 'star' : 'star-outline' }}"></ion-icon>
                </button>
            </button>
        </ion-item-group>
        
        <button ion-item *ngIf="Items.length===0 && searchbox && searchbox.value.length>0" (click)="findText()">Buscar por <b>{{ searchbox.value }}</b> ...</button>
    </ion-list>
    
    <ion-infinite-scroll (infinite)="loadLines($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
