<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="{{ showSearchBox? '':'hidden' }}">
        <form (submit)="onSubmit($event)">
            <ion-input
                id="searchbox"
                type="search"
                placeholder="{{ Text.PAGE_SEARCH_INPUT }}">
            </ion-input>
        </form>
    </ion-title>
    <ion-title class="{{ showSearchBox? 'hidden':'' }}">{{ Text.APP_TITLE }}</ion-title>
    
    <ion-buttons end (click)="showSearchBar()" class="{{ showSearchBox? 'hidden':'' }}">
        <button ion-button>
            <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
    
    <ion-buttons end (click)="hideSearchBar()" class="{{ showSearchBox? '':'hidden' }}">
        <button ion-button>
            <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="search" id="search-view">
    <ion-list>
        <ion-item-group *ngIf="histories.length>0 && !showSearchBox">
            <ion-item-divider light>{{ Text.PAGE_SEARCH_RECENTS }}</ion-item-divider>
            <ion-item *ngFor="let history of histories">
                <line-item [line]="history.Line"></line-item>
                <ion-icon clear item-right name="time"></ion-icon>
            </ion-item>
        </ion-item-group>
        <ion-item-group *ngIf="!(items.length===0 && searchbox && searchbox.value.length>0)">
            <ion-item-divider light>{{ Text.PAGE_SEARCH_AVAILABLE }}</ion-item-divider>
            <ion-item *ngFor="let item of items">
                <line-item [line]="item"></line-item>
                <favorite-button item-right [line]="item"></favorite-button>
            </ion-item>
        </ion-item-group>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadLines($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
